@font-face {
    font-family: "Varsity";
    src: url(fonts/varsity_regular.ttf);
  }
  
  h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 25px;
    font-family: "Varsity";
  }