@font-face {
    font-family: "Franchise";
    src: url(fonts/Franchise.ttf);
  }
  
  h1 {
    text-align: center;
    color: white;
    background-color: black;
    padding: 25px;
    font-family: "Franchise";
    font-size: 48px;
  }